<div class="container-fluid"> <!-- Cambié de container a container-fluid para abarcar todo el ancho -->
    <header *ngIf="isAuthenticated" class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom bg-success">
        <div class="col-md-3 d-flex align-items-center">
            <!-- Aquí se agrega la imagen -->
            <a routerLink="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="https://www.elempleo.com/co/sitio-empresarial/CompanySites/universidad-catolica-oriente/resources/images/logo-social.png" 
                     alt="Logo" 
                     style="max-height: 80px; width: 120px; margin-right: 0px;">
            </a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a routerLink="/" class="nav-link px-2 text-white">Inicio</a></li>
            <li><a routerLink="/crear-ciudad" class="nav-link px-2 text-white">Registrar Ciudad</a></li>
            <li><a routerLink="/consultar-ciudad" class="nav-link px-2 text-white">Consultar Ciudad</a></li>
            <li><a routerLink="/consultar-estados" class="nav-link px-2 text-white">Consultar Estados</a></li>
        </ul>
        <div class="col-md-3 text-end">
            <button type="button" (click)="logOut()" class="btn btn-danger">LogOut</button>
        </div>
    </header>
    <main>
        <!-- Aquí se renderizan las rutas hijas -->
        <router-outlet></router-outlet>
    </main>
</div>
